html {
    background-color: lightgray;
    font-family: helvetica;
}

* {
    margin: 0;
    padding: 0;
    cursor: default;
}

header {
    background-color: #ffb300;
    height: 15%;
    min-height: 95px;
    max-height: 120px;
    width: 100%;
    z-index: 1;
    float: top;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    font-family: 'PT Sans', sans-serif;
}

#title-bar {
    height: 100%;
    width: 100%;
    min-width: 100px;
    flex-shrink: 1;
    display: inline-flex;
    align-items: center;
    margin-left: 1%;
}

#full-page-title {
    color: lightyellow;
    margin-top: 1%;
    margin-bottom: 5px;
    font-size: 3.75em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#nav-buttons {
    margin: 0 1% 0 auto;
    width: 15%;
    height: 100%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    font-weight: 600;
    font-size: 2.25rem;
    flex-shrink: 0;
}

.nav-button {
    margin-top: 15px;
    cursor: pointer;
}

.nav-button * {
    cursor: pointer;
}

.nav-button p {
    color: rgba(255, 255, 255, 0.842);
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
}

#game-buttons-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0 auto;
    padding-top: 30px;
}

.game-button {
    height: 100px;
    width: 500px;
    margin: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    background-color: rgb(133, 100, 19);
    color: rgba(255, 255, 255, 0.842);
    border: 1px solid darkgrey;
    border-radius: 7px;
    cursor: pointer;
}

.game-button * {
    cursor: pointer;
}

.game-button img {
    max-height: 80%;
    flex-shrink: 1;
    display: inline-block;
}

.game-button p {
    display: inline-block;
    color: rgba(255, 255, 255, 0.842);
    font-size: 2.5rem;
    font-weight: 600;
}

#league-of-trivia-button {
    background-image: url("../images/league-of-trivia-button-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#league-of-trivia-button p {
    color: rgb(170, 150, 85);
    margin-top: 3%;
    font-size: 3.25rem;
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: rgb(26, 26, 26);
}

#coming-soon-button {
    cursor: default;
}

#coming-soon-button p {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#coming-soon-button * {
    cursor: default;
}